FilmQuizService/TestClient/Service References/FilmQuizServiceReferenceLocal/FilmQuiz.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilmQuiz" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1102/FilmQuiz.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1102/FilmQuiz.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1102/FilmQuiz.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.DTO_s" />
      <xsd:import schemaLocation="http://localhost:1102/FilmQuiz.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Storage.DTO_s.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilmQuiz_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_CreateNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewGame" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_CreateNewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewGameResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_GetGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGame" />
  </wsdl:message>
  <wsdl:message name="IFilmQuiz_GetGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IFilmQuiz">
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmQuiz/GetCategory" message="tns:IFilmQuiz_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmQuiz/GetCategoryResponse" message="tns:IFilmQuiz_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmQuiz/GetAllCategories" message="tns:IFilmQuiz_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmQuiz/GetAllCategoriesResponse" message="tns:IFilmQuiz_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmQuiz/CreateNewGame" message="tns:IFilmQuiz_CreateNewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmQuiz/CreateNewGameResponse" message="tns:IFilmQuiz_CreateNewGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmQuiz/GetGame" message="tns:IFilmQuiz_GetGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmQuiz/GetGameResponse" message="tns:IFilmQuiz_GetGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFilmQuiz" type="tns:IFilmQuiz">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IFilmQuiz/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IFilmQuiz/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewGame">
      <soap:operation soapAction="http://tempuri.org/IFilmQuiz/CreateNewGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap:operation soapAction="http://tempuri.org/IFilmQuiz/GetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmQuiz">
    <wsdl:port name="BasicHttpBinding_IFilmQuiz" binding="tns:BasicHttpBinding_IFilmQuiz">
      <soap:address location="http://localhost:1102/FilmQuiz.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>