FilmQuizService/TestClient/Service References/FilmQuizServiceReferenceLocal/FilmQuiz1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1102/FilmQuiz.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.DTO_s" />
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Storage.DTO_s" minOccurs="0" name="GetCategoryResult" nillable="true" type="q1:ResponseDTOOfCategoryDTOG2FmXW_SN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Storage.DTO_s" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q2:ResponseDTOOfArrayOfCategoryDTOG2FmXW_SN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Storage.DTO_s" minOccurs="0" name="game" nillable="true" type="q3:GameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Storage.DTO_s" minOccurs="0" name="CreateNewGameResult" nillable="true" type="q4:ResponseDTOOfGameDTOG2FmXW_SN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Storage.DTO_s" minOccurs="0" name="GetGameResult" nillable="true" type="q5:ResponseDTOOfGameDTOG2FmXW_SN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>